


@media screen and (min-width: 1201px) {
    /* banner = nav + 轮播图(carousel) */
    .banner {
        background-image: url("../img/home_banner_bg.jpg") ;
        width: 100%;
        height: 100%;
    }

    .container-fluid{
        margin-left: 5%;
    }

    /*.nav.navbar-nav.nav-left{
        margin-left: 10%;
    }*/

    /* nav */
    .mynav{
        background-color:transparent;
    }

    .navbar-nav>li{
        margin-left: 20px;
    }

    .active::before{
        content: url("../img/active.png");
    }

    .nav_link{
        height: 65px;
        font-size:14px;
        font-family:Roboto;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:18px;
        opacity:0.63;
        display: table-cell;
        vertical-align:middle
    }

    .nav-contact{
        background-color: red;
        border-color: red;
        border-style: solid;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        color: rgba(255,255,255,0.86);;
        opacity: unset;
        padding: 10px 20px;
        margin-top: 10px;
    }

    /* 轮播图  carousel*/
    .carousel-inner>.item>a>img, .carousel-inner>.item>img{
        height: 800px;
    }

    /* Our Services */
    .services{
        padding-top: 100px;
    }

    .services-row{
        margin-bottom: 20px;
    }

    .services-image-div{
        height: 270px;
    }

    .services-title{
        font-size:48px;
        font-family: Roboto, serif;
        font-weight:bold;
        color:rgba(217,48,10,1);
        line-height:70px;
    }

    .services-content{
        font-size:18px;
        font-family: Roboto, serif;
        font-weight:400;
        color:rgba(92,88,86,1);
        line-height:30px;
    }

    .services-item-title{
        display: inline;
        margin-left: 15px;
        font-size:18px;
        font-family: Roboto, serif;
        font-weight:bold;
        color:rgba(7,7,7,1);
        line-height:42px;
    }

    .services-item-content{
        margin-left: 40px;
        width: 280px;
        font-size:14px;
        font-family: Arial, serif;
        font-weight:400;
        color:rgba(92,88,86,1);
        line-height:26px;
    }

    .services-item-end{
        font-size:14px;
        font-family: Arial, serif;
        font-weight:400;
        color:rgba(252,200,0,1);
        line-height:26px;
    }

    /* About Singapore */
    .about-singapore{
        margin-top: 100px;
        background-image: url("../img/about-background.png");
    }

    .aboutS-title{
        margin-top: 80px;
        font-size:48px;
        font-family:Roboto;
        font-weight:bold;
        color:rgba(217,48,10,1);
        line-height:70px;
    }

    .aboutS-content{
        font-size:18px;
        font-family:Roboto;
        font-weight:400;
        color:rgba(92,88,86,1);
        line-height:24px;
    }

    .aboutS-second-row{
        margin-top: 120px;
    }

    .thumbnail{
        background-color: transparent;
        border-color:transparent;
    }

    .thumbnail .caption{
        position: relative;
        width: 330px;
        top: -222px;
        left: 10%;
        background-color: rgba(255,255,255,1);
    }

    .aboutS-item-p1{
        width: 227px;
        margin: 50px auto 20px auto;
        font-size:22px;
        font-family:Roboto;
        font-weight:400;
        color:rgba(43,44,45,1);
        line-height:34px;
    }
    .aboutS-item-p1::before{
        content: url("../img/slash.png");
        position: absolute;
        left: 8%
    }

    .aboutS-item-p1::after{
        content: url("../img/slash.png");
        position: absolute;
        right: 10%;
    }

    .aboutS-item-p2{
        height:14px;
        margin-left: 50px;
        font-size:16px;
        font-family:Roboto;
        font-weight:bold;
        color:rgba(43,44,45,1);
        line-height:48px;
    }

    .aboutS-item-p3{
        margin-left: 50px;
        font-size:16px;
        font-family:Roboto;
        font-weight:bold;
        color:rgba(43,44,45,1);
        line-height:48px;
    }

    /* Friends we've made */
    .friends-title{
        width:423px;
        font-size:48px;
        font-family:Roboto;
        font-weight:bold;
        color:rgba(217,48,10,1);
        line-height:70px;
        margin: 50px auto 10px auto;
    }

    .friends-content{
        width:340px;
        font-size:18px;
        font-family:Roboto;
        font-weight:400;
        color:rgba(43,44,45,1);
        line-height:24px;
        margin: 10px auto;
    }

    .friends-item-img{
        margin: 10px auto 100px auto;
    }


    /* contact info with red background */
    .contact_info{
        background-color: rgba(217,48,10,1);
    }

    .contact_info-row-one{
        font-size:14px;
        font-family:Roboto;
        font-weight:bold;
        color:rgba(255,255,255,1);
        line-height:70px;
        margin-top: 20px;
        margin-bottom: 60px;
        height:14px;
    }

    .contact_info-row-two{
        font-size:14px;
        font-family:Roboto;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:70px;
        margin-bottom: 30px;
    }

    /* bottom navigator */
    .bottom_nav{
        background-color: black;
    }

    .bottom_nav_logo{
        margin-top: 50px;
    }

    .bottom_nav_text{
        font-size:12px;
        font-family:Roboto;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:24px;
    }

    .bottom_nav_title{
        margin-top: 50px;
        font-size:18px;
        font-family:Poppins;
        font-weight:600;
        color:rgba(255,255,255,1);
        line-height:24px;
    }

    .bottom_nav_link{
        font-size:14px;
        font-family:Roboto;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:36px;
    }
}
